
body {
    font-family:
        'Franklin Gothic Book',
        'Verdana',
        'Hiragino Sans GB',
        STHeiti,
        sans-serif;
}

.header li {
    display: inline;
    line-height: normal;
    border: 0;
    padding: 0;
    padding-right: 14px;
    font-size: 1em;
}

.header {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-left: 14px;
    background-color: #dc143c;
}

@media (max-width: 599px) {
    html {
        font-size: 14px;
    }
    .header {
        margin-top: 0;
        padding-top: 6px;
    }
    .header li {
        padding-right: 2px;
    }
    .header a {
        font-size: 10px;
    }
    .page-header {
        font-size: .8em;
    }
    .page-header h1 {
        border: none;
    }
    .page-header ul {
        max-width: 50%;
    }
    .entry-content {
        margin-left: 12px;
        margin-right: 12px;
    }
    .entry header h1 {
        margin-top: .6em;
    }
}

.header nav ul {
    display: block;
}

.logo {
    text-align: left;
    float: left;
    margin-right: 15px;
}

.item-meta-siteurl {
    float: right;
}

.category {
    float: right;
}

.logo a {
    font-family: "Adobe Garamond Pro", "Garamond";
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: .2px;
}

.logo a > span:first-child {
    font-variant: small-caps;
    color: white;
}

.logo a > span:last-child {
    color: #FFD942;
    font-style: italic;
}

.logo a > span:last-child > span {
    color: #FFD942;
    font-style: italic;
}

.header a {
    color: white;
}

.header li:hover a, .header a:hover, .header a:focus {
    color: navajowhite;
}

.header nav ul {
    text-transform: uppercase;
}

.unread-counter-wrapper {
    color: #6bebff;
}

.page-header {
    margin-bottom: 1em;
}

.page-header > ul {
    float: right;
}

.page-header ul {
    margin-left: 0;
}

.page-header li {
    display: inline;
}

.page-header::after {
    display: block;
    content: '';
    clear: both;
}

.item {
    border-left: none;
    border-right: none;
    border-top: none;
    margin-bottom: 1px;
}

.item:hover {
    background-color: #f8f8f8;
}

.item-title img {
    vertical-align: middle;
}

.item-title a {
    vertical-align: middle;
    font-weight: 500;
    font-family:
        Cambria,
        "Iowan Old Style",
        "Source Han Serif SC",
        "Songti SC",
        serif,
        "Hiragino Sans GB";
}

.item-status-read .item-title a {
    color: black;
}

.entry header {
    border: none;
    padding-bottom: 0;
}

.entry header h1 {
    font-size: 1.4em;
    font-family:
        Crimson,
        'Iowan Old Style',
        "Source Han Serif SC",
        'Hiragino Sans GB',
        STHeiti,
        serif;
    margin-top: 1.2em;
    margin-bottom: 0.5em;
}

.entry header h1 a {
    float: left;
}

.entry header h1::after {
    display: block;
    content: '';
    clear: both;
}

.entry-date {
    float: right;
}

.entry-content {
    color: black;
    font-size: 1em;
    font-weight: 400;
    font-family:
        Crimson,
        'Iowan Old Style',
        "Source Han Serif SC",
        'Hiragino Sans GB',
        STHeiti,
        serif;
    line-height: 1.6em;
}

.entry-actions {
    font-size: .8em;
    padding-bottom: .5em;
    margin-bottom: .4em;
    border-bottom: 1px solid lightgrey;
}

.entry-actions a {
    color: #444;
}

.entry-meta {
    margin: 0;
    font-family:
        Optima,
        'Hiragino Sans GB',
        STHeiti,
        sans-serif;
    font-weight: 600;
    font-size: .8em;
    color: #333;
}

.entry-meta span {
    vertical-align: middle;
}

.entry-meta a {
    vertical-align: middle;
}

.entry-meta em {
    vertical-align: middle;
}

.category {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
}

.entry-website img {
    vertical-align: middle;
}

.entry-content {
    padding-top: 0;
    margin-top: 18px;
}

@media (min-width: 600px) {
    .entry-content {
        font-size: 15px;
    }

    .page-header h1 {
        padding-bottom: 0.3em;
    }
    .page-header li {
        padding-right: 15px;
    }
}
